// Intro styles

.intro {
  @include contenedor-flex;
  background-color: $background-color;
  padding: 2em;
  text-align: center;
  & img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1em;
  }
  & p {
    font-size: 1.2rem;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid $primary-color;
    &:last-of-type {
      font-size: 1.5rem;
      background-color: $accent-color;
      border: none;
      padding: 0.5em;
    }
  }
}

// Projects Styles
.projects {
  background-color: $background-color;
  padding: 2em;
  & h2 {
    font-family: $heading-font;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1em;
  }
  &-project {
    text-align: center;
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    & h3 {
      font-family: $heading-font;
      font-size: 1.8rem;
      margin-bottom: 0.5em;
    }
    &-description {
      font-size: 1.2rem;
      margin-bottom: 1em;
    }
    &-img {
      width: 100%;
      max-width: 400px;
      margin-bottom: 1em;
    }
    &-url {
      margin-bottom: 0.5em;
    }
  }
}

@media (min-width: 768px){
  .intro{
    @include contenedor-grid;
    & img{
      justify-self: center;
    }
    & p{
      height: fit-content;
      align-self: center;
      &:last-of-type{
        text-align: center;
        grid-column: span 2;
      }
    }
  }

  .projects{
    @include contenedor-grid;
    & h2{
      grid-column: span 2;
    }
    &-project{
      width: 90%;
      justify-self: center;
    }
  }
}
