.intro{
  @include contenedor-flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1em;
  & h1{
    width: 100%;
    text-align: center;
  }
  & img{
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 1em;
  }
  & p{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 1em;
    border: 1px solid black;
    &:last-of-type{
      font-size: 1.5em;
      background-color: wheat;
    }
  }
}

  .projects{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1em;
    & h2{
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
    }
    &-project{
      @include contenedor-flex;
      justify-content: center;
      margin-bottom: 1em;
      border: 1px solid black;
      & h3{
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
      }
      &-description{
        text-align: center;
        width: 80%;
        margin-bottom: 1em;
      }
      &-img{
        width: 80%;
        margin-bottom: 1em;
        min-width: 300px;
        max-width: 400px;
      }
      &-url{
        margin-bottom: 1em;
      }
    }

  }
